#homepage
  %h1.logo
    %a{ :href => "/" }
      %span linguasia
  #claim
    .main
      =list :object => @index, :item => 'main-claim'
    .subclaim
      =list :object => @index, :item => 'sub-claim'
  %p
    =list :object => @index, :item => 'content'